@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Source+Sans+Pro&display=swap');

.theme-light {
    --bg: #e8e9ea;
    --fg: #2d4a3d;
    --card-bg: #f1f1f1;
    --secondary-bg: #333E38;
    --secondary-fg: #bfc2ca;
    --footer-bg: #202124;
    --green-overlay: rgb(37 44 43 / 92%);
    --mobile-overlay: linear-gradient(0deg, rgb(69 80 78 / 92%) 0%, rgb(34 45 39 / 92%) 80%);
    --contrasting-color: rgba(0, 0, 0, .033);
    --banner-shadow: inset 0px 16px 17px -20px rgb(29, 36, 31);
    --sticky-shadow: 0px 13px 12px -3px rgb(0 0 0 / 7%);
    --card-shadow: 0px 4px 26px -5px #c5c6c7;
    --subtle-shadow: 0px 0px 18px -10px #0b150b;
}

.theme-dark {
    --bg: #202124;
    --fg: #cdd0c8;
    --card-bg: #27272b;
    --secondary-bg: #27272b;
    --secondary-fg: #bfc2ca;
    --footer-bg: #141616;
    --green-overlay: rgb(36 37 42 / 95%);
    --mobile-overlay: linear-gradient(0deg, var(--bg) 0%, rgb(22 38 43 / 90%) 250%);
    --contrasting-color: rgba(255, 255, 255, .033);
    --banner-shadow: inset 0px 16px 40px -20px rgb(21 19 20 / 100%);
    --sticky-shadow: 0px 13px 12px -3px #1b1b1d;
    --card-shadow: 0px 4px 24px -6px #1b1b1d;
    --subtle-shadow: 0px 0px 20px -10px #101011;
}

/* general */
#site-wrapper {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    top: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    color: var(--accent);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    --accent: #9FA916;
    --accent-alt: #6c8d1e;
    --footer-height: 48px;
    --header-font: 'Poppins', sans-serif;
    --text-font: 'Source Sans Pro', sans-serif;
}

main {
    max-width: 1260px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 24px;
}

* {
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    -moz-transition: .8s ease;
    transition: .8s ease;
}

.full-width {
    width: 100vw;
}

body {
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    background: var(--bg);
    color: var(--fg);
    font-family: var(--text-font), sans-serif;
}

.header-font {
    font-size: 16px;
    font-family: var(--header-font), sans-serif;
}

footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: var(--footer-height);
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--secondary-fg);
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: var(--footer-bg);
    border-top: 6px solid var(--accent-alt);
}

.footer-leftmost {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.theme-switch-container {
    margin-right: 20px;
}

.lang {
    margin-right: 6px;
}

p.sig {
    color: var(--secondary-fg);
}

.header-container {
    background: url(./img/banner.jpeg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* fontawesome */
.fas {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--accent);
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px;
}

i.fas.fa-chevron-down {
    width: 100%;
    height: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

a#theme-icon {
    cursor: pointer;
    -webkit-transition: .25s ease;
    -o-transition: .25s ease;
    -moz-transition: .25s ease;
    transition: .25s ease;
}

a#theme-icon:hover {
    -webkit-transition: .25s ease;
    -o-transition: .25s ease;
    -moz-transition: .25s ease;
    transition: .25s ease;
    color: var(--accent-alt);
}

/* header and navbar */
nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 70px;
}

.theme-dark .nav {
    -webkit-box-shadow: 0px 4px 26px -8px #1b1b1d;
    -moz-box-shadow: 0px 4px 26px -8px #1b1b1d;
    box-shadow: 0px 4px 26px -8px #1b1b1d;
}

.theme-light.nav {
    -webkit-box-shadow: 0px 4px 26px -5px #28312c;
    -moz-box-shadow: 0px 4px 26px -5px #28312c;
    box-shadow: 0px 4px 26px -5px #28312c;
}

header {
    background: var(--secondary-bg);
    padding: 40px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.large-logo {
    width: 160px;
}

.small-logo {
    height: 60px;
    width: 180px;
    padding-right: 80px;
}

.icon {
    height: 32px;
    width: 32px;
    padding-right: 32px;
}

.welcome-section {
    -webkit-filter: drop-shadow(0px 2px 16px rgba(0, 0, 0, .2));
    filter: drop-shadow(0px 2px 16px rgba(0, 0, 0, .2));
}

.theme-dark .cards .header-font {
    -webkit-filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, .16));
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, .16));
}

.theme-light .cards .header-font {
    -webkit-filter: drop-shadow(0px 5px 3px rgba(50, 80, 20, .1));
    filter: drop-shadow(0px 5px 3px rgba(50, 80, 20, .1));
}

ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--accent);
}

li {
    float: left;
}

li a {
    height: 100%;
    -webkit-transition: .25s ease;
    -o-transition: .25s ease;
    -moz-transition: .25s ease;
    transition: .25s ease;
    display: block;
    color: var(--secondary-bg);
    text-align: center;
    padding: 16px 56px;
    text-decoration: none;
    cursor: pointer;
}

li a:hover {
    -webkit-transition: .25s ease;
    -o-transition: .25s ease;
    -moz-transition: .25s ease;
    transition: .25s ease;
    background-color: var(--accent-alt);
}

li a:active {
    -webkit-transition: .25s ease;
    -o-transition: .25s ease;
    -moz-transition: .25s ease;
    transition: .25s ease;
    background-color: var(--secondary-fg);
}

.welcome-wrapper {
    height: 50vh;
    min-height: 500px;
    max-height: 1200px;
    background: var(--green-overlay);
    -webkit-transition: none !important;
    -o-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
}

.welcome-section {
    margin: 0;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: var(--banner-shadow);
    -moz-box-shadow: var(--banner-shadow);
    box-shadow: var(--banner-shadow);
}

/* content */
content {
    height: -webkit-calc(100vh - 90px * 3);
    height: -moz-calc(100vh - 90px * 3);
    height: calc(100vh - 90px * 3);
    width: 100%;
    margin: 10px 0;
}

.card {
    background: var(--card-bg);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    padding: 16px;
    max-width: 1400px;
}

.cards {
    padding-bottom: 120px;
}

.main-page-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.welcome {
    text-align: center;
    font-size: 40px;
    margin: 0;
    color: var(--accent);
    padding-bottom: 20px;
}

.section {
    margin: 100px auto;
}

.main-title {
    color: var(--accent);
    font-size: 48px;
    margin: 0;
    padding-top: 32px;
}

.left-content .paragraph-container {
    padding-left: 32px;
}

.right-content .paragraph-container {
    padding-right: 48px;
}

.right-content .side-image-container {
    margin-right: 32px;
}

.left-content .side-image-container {
    margin-left: 32px;
}

.side-image-container {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -moz-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
}

.paragraph {
    -webkit-transition-delay: .5s !important;
    -moz-transition-delay: .5s !important;
    -o-transition-delay: .5s !important;
    transition-delay: .5s !important;
    -webkit-transition: all .1s !important;
    -o-transition: all .1s !important;
    -moz-transition: all .1s !important;
    transition: all .1s !important;
}

.paragraph-container {
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    -moz-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
}

.left-content .paragraph-container {
    text-align: right;
}

.side-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: var(--subtle-shadow);
    -moz-box-shadow: var(--subtle-shadow);
    box-shadow: var(--subtle-shadow);
}

.paragraph {
    font-size: 20px;
}

/* card layout */
.section-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.right-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.left-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -moz-box-orient: horizontal;
    -moz-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

/* contact section */
#contact .main-title {
    margin: 0;
    padding: 0;
}

.contact-container {
    margin-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.management {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.contact-card {
    background: var(--contrasting-color);
    margin-right: 16px;
    padding: 36px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 16px;
}

.profile-details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.profile-header {
    font-size: 32px;
    color: var(--fg);
    text-shadow: none !important;
    margin-top: 4px;
    margin-bottom: 12px;
}

.address-header {
    font-size: 40px;
    color: var(--fg);
    text-shadow: none !important;
    margin-top: 4px;
    margin-bottom: 6px;
}

#address {
    font-size: 20px !important;
}

.phone-number {
    margin-bottom: 16px;
}

div#contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 60px;
}

.contact-left {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -moz-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.contact-right {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -moz-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.contact-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 16px;
}

p#contact-title {
    margin: 0 16px !important;
}

a.contact-info {
    text-decoration: none !important;
}

.contact-info-icon:before {

    margin-right: 16px;
}

#contact-title {
    text-align: left;
    margin: 0 16px;
    font-size: 48px;
    color: var(--accent);
}

/* shadows */
.card {
    -webkit-box-shadow: var(--card-shadow);
    -moz-box-shadow: var(--card-shadow);
    box-shadow: var(--card-shadow)
}

/*animations*/
/* device compatibility */
/* small window */
@media (max-width:1200px) {
    .small-logo {
        display: none !important;
    }

    .section-bottom {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: reverse !important;
        -webkit-flex-direction: column-reverse !important;
        -moz-box-orient: vertical !important;
        -moz-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
    }

    .side-image {
        margin-top: 20px;
        max-height: 400px;
        max-width: 760px;
    }

    .side-image-container {
        margin: 0 !important;
        margin-top: 32px !important;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .paragraph {
        margin-bottom: 0 !important;
    }

    .card {
        padding: 36px;
        margin: 36px;
    }

    .main-title {
        text-align: center !important;
    }

    .paragraph-container {
        margin: 0 !important;
        padding: 0 !important;
        padding-right: 24px !important;
    }

    .paragraph {
        text-align: left !important;
    }

    div#contact {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contact-card {
        max-width: 400px;
    }

    .contact-left.contact-section {
        margin: auto;
    }

    .contact-card {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-shadow: var(--card-shadow);
        -moz-box-shadow: var(--card-shadow);
        box-shadow: var(--card-shadow);
        background: var(--card-bg) !important;
    }

    #contact-title {
        display: none;
    }

    #contact-title-top {
        display: block !important;
    }

    .contact-right.contact-section {
        margin: auto;
        width: 500px;
    }

    #contact {
        background: transparent !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

    .contact-left.contact-section {
        margin-bottom: -15px;
    }

    p#contact-title-top {
        margin: 20px 0 !important;
    }
}

/* mobile compatibility */
.sticky-top {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 100px;
    padding-top: 12px;
    padding-bottom: 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    background: var(--bg);
    -webkit-box-shadow: var(--sticky-shadow);
    -moz-box-shadow: var(--sticky-shadow);
    box-shadow: var(--sticky-shadow);
    outline: 4px solid var(--bg);
    outline-offset: -2px;
}

.sticky-logo {
    width: 100px;
}

.mobile {
    display: none;
}

@media (max-width: 780px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }

    .welcome-wrapper {
        min-height: 360px !important;
        height: 100vh;
    }

    .welcome-section {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

    .welcome {
        font-size: 16px;
    }

    .cards {
        padding-bottom: 80px;
    }

    .welcome-wrapper {
        background: var(--mobile-overlay);
    }

    .theme-light .welcome-section {
        -webkit-filter: drop-shadow(0px 2px 16px rgba(0, 0, 0, .2)) brightness(1.2);
        filter: drop-shadow(0px 2px 16px rgba(0, 0, 0, .2)) brightness(1.2);
    }

    .main-page-logo {
        -webkit-transform: scale(0.75);
        -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
        -o-transform: scale(0.75);
        transform: scale(0.75);
        margin-bottom: -25px;
    }

    .card {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 0;
        padding-top: 40px;
        max-width: unset;
        margin: 160px 0;
    }

    main {
        padding: 0 !important;
    }

    div#about {
        margin-top: 0;
    }

    .paragraph-container {
        padding: 0 !important;
    }

    .paragraph {
        font-size: 26px;
        text-align: center !important;
        padding: 0 20px;
    }

    .side-image {
        margin-bottom: 60px;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }

    .section-bottom {
        padding-bottom: 80px;
    }

    #mobile-footer {
        display: block;
    }

    .lower {
        text-align: center !important;
        font-size: 14px;
    }

    .sig,
    .baris-inandi {
        margin: 12px 0 !important;
    }

    .baris-inandi {
        font-size: 18px !important;
    }

    .upper {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
        padding-bottom: 20px;
    }

    #mobile-footer {
        padding: 40px 0;
        background: var(--footer-bg);
        color: var(--secondary-fg) !important;
        margin-bottom: 0 !important;
    }

    #contact-title-top {
        margin-bottom: 32px !important;
    }

    .contact-card {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contact-right.contact-section {
        width: unset;
    }

    .contact-left.contact-section {
        margin: 0;
    }

    .contact-card {
        max-width: unset;
        background: var(--card-bg);
    }

    .profile-header {
        font-size: 48px;
    }
}